<p id="notice"><%= notice %></p>

<h1>Turmas</h1>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Ver alunos</th>
    </tr>
  </thead>

  <tbody>
    <% @turmas.each do |turma| %>
      <tr>
        <td><%= turma.codigo %></td>
        <td><%= turma.nome %></td>
        <td>
          <%= link_to ' ', ' ', class: "glyphicon glyphicon-search" %>
        </td>
        <td>
          <%= link_to ' ', edit_turma_path(turma), class: "glyphicon glyphicon-pencil" %>
          <%= link_to ' ', turma, method: :delete, data: { confirm: 'Are you sure?' } , class: "glyphicon glyphicon-trash" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @turmas, previous_label: "Anterior", next_label: "Próxima" %>
<br>
<%= link_to 'Nova Turma', new_turma_path, :class => 'btn btn-default' %>