<%= form_for(@aluno) do |f| %>
  <% if @aluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aluno.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
      <% @aluno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :matricula %><br>
    <%= f.text_field :matricula %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br>
    <%= f.radio_button :sexo, 'M', :checked => true %> Masculino
    <%= f.radio_button :sexo, 'F' %> Feminino
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :dtmatricula %><br>
    <%= f.date_select :dtmatricula %>
  </div>
  <div class="field">
    <%= f.label :dtnascimento %><br>
    <%= f.date_select :dtnascimento %>
  </div>
  <div>
    <%= f.label :foto %>
    <%= image_tag @aluno.foto_url, class: 'foto' if @aluno.foto? %>
    <%= f.file_field :foto, label: 'Foto' , input_html: {accept: ('application/jpg') } %>
    <br/>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
