<p id="notice"><%= notice %></p>

<h1>Alunos</h1>

<hr/>
    <%= render 'formbusca' %>
<hr/>

<table>
  <thead>
    <tr>
      <th>Matrícula</th>
      <th>CPF</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Telefone</th>
      <th>Data da Matrícula</th>
      <th>Data de Nascimento</th>
      <th>Turma</th>
    </tr>
  </thead>

  <tbody>
    <% @alunos.each do |aluno| %>
      <tr>
        <td><%= aluno.matricula %></td>
        <td><%= aluno.cpf %></td>
        <td><%= aluno.nome %></td>
        <td><%= aluno.email %></td>
        <td><%= aluno.telefone %></td>
        <td><%= aluno.dtmatricula %></td>
        <td><%= aluno.dtnascimento %></td>
        <td><%= aluno.turma.nome %></td>
        <td>
          <%= link_to ' ', edit_aluno_path(aluno), class: "glyphicon glyphicon-pencil" %>
          <%= link_to ' ', aluno, method: :delete, data: { confirm: 'Are you sure?' } , class: "glyphicon glyphicon-trash" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @alunos, previous_label: "Anterior", next_label: "Próxima" %>
<br>
<%= link_to 'Novo Aluno', new_aluno_path, :class => 'btn btn-default' %>
