<p id="notice"><%= notice %></p>

<p>
  <strong>Siape:</strong>
  <%= @professore.siape %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @professore.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @professore.nome %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @professore.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @professore.telefone %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= @professore.dtnascimento %>
</p>

<%= link_to 'Editar', edit_professor_path(@professore), :class => 'btn btn-default' %> 
<%= link_to 'Voltar', professores_path, :class => 'btn btn-default' %>
