<!DOCTYPE html>
<html>
<head>
  <title>Highschool Of The Dead</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel-"stylesheet" type-"text;css" href="/app/assets/stylesheet/style.css">
</head>
<body>

	<!--<%= image_tag 'logo.png', class: 'logo' %>-->

	<%= render "layouts/navbar" %>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= render "layouts/latbar" %>
			</div>
			<div class="col-md-9">
				<div class="panel-body">
					<%= yield %>
					<p class="notice"><%= notice %></p>
					<p class="alert"><%= alert %></p>
				</div>
			</div>
		</div> <!-- row -->
	</div> <!-- container -->
</body>
</html>
